body{
	height: 100vh;
	background-image: linear-gradient(0deg, hsl(240, 73%, 65%) 0%,hsl(267, 99%, 63%) 52%,hsl(273, 75%, 66%) 90%);
	background-size: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 12px;
}
.card{
	display: flex;
	width: 920px;
	height: 510px;
	background: white;
	border-radius: 20px;
	flex-direction: row;
	box-shadow: -5px 19px 35px -5px rgba(0,0,0,0.36);
}

/*graphics on the left*/
#box{
	position: absolute;
	z-index: 1;
	left: -93px;
    top: 208px;
}

.illustration{
	position: relative;
	width: 50%;
	background-position: 100% 60%;
	display: flex;
	align-items: center;
}
.image-container {
    overflow: hidden;
    height: 100%;
    width: 85%;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: 100% 67%;
}
#woman{
	content: url(../images/illustration-woman-online-desktop.svg);
	position: relative;
	left: -85px;
	top: 75px;
}
.main{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}
/* FAQ section */
.faq-container{
	width: 78%;
}
main h1{
	font-size: 2.5em;
	font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
}
li{
	font-size: 1em;
	font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	border-bottom: 1px solid hsl(240, 5%, 91%);
	padding: 19px 0px;
	max-height: 360px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out 0.25s, height 0.5s ease-in-out 0.25s;
}
h3{
	font-size: 1.2em;
	color: hsl(237, 12%, 33%);
	transition: 0.2s;
}
.heading-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}
/* interactive section */
p{
	display: none;
	position: relative;
	padding-top: 19px;
	font-size: 1em;
	color: hsl(240, 6%, 50%);
	transition: 0.2s;
	
}
li.active p{
	display: block;
}
li.active h3{
	font-weight: 700;
}
h3:hover{
	color: orange;
}
li.active img{
	transform: scale(1,-1);
}
li.active{
	max-height: 600px;
}
@media screen and (max-width: 950px){
	main{
		width: 80vw;
	}
	.card{
		width: 100%;
		height: 534px;
		margin-top: 75px;
		flex-direction: column;
		min-width: 326px;
	}
	/* upper graphics */
	.illustration{
		width: 100%;
		justify-content: center;
	}
	#box{
		display: none;
	}
	.image-container{
		width: 236px;
		height: 71px;
		overflow: visible;
		padding-bottom: 30px;
		background-size: 99.5%;
		background-position: 100% 100%;
	}
	#woman{
		content: url(../images/illustration-woman-online-mobile.svg);
		width: 100%;
		left: 0px;
		top: -105px;
	}
	/* FAQ */
	.main{
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	.faq-container{
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
	.list-container{
		width: 100%;
	}
}
